
<%= @place_p %> <!-- 포잉 이름 -->
<div style="background-size: 100%; width:200px; height:200px; <%=@img_p%>"></div> <!-- 포잉 이미지 -->

<%= @place_d %> <!-- 다이닝코드 이름 -->



<%= @place_m %> <!-- 망고플레이트 이름 -->
<div style="background-size: 100%; width:200px; height:200px; <%=@img_m%>"></div> <!-- 망고플레이트 이미지 -->


<%= @place_d2 %> 


